## Arithmetic Operator

- Addition
- Subtraction
- Multiplication
- Division
- Floor Division
- Modulo
- Exponential

In [ ]:
a=4
b=3
c=a**b
c

## Comparison Operator or Relational Operator

- Output - Boolean Value (0,1) (True, False), (Yes/No)

In [1]:
a=10
b=20
a==b

False

In [ ]:
a>b

In [ ]:
a<b

In [2]:
a!=b

True

## Assignment Operator

In [ ]:
a=10

In [ ]:
b=a

In [ ]:
b

###### Add and Assign

In [ ]:
a=10
b=20
#a=a+b

a**=b
print(a)
print(b)

## Bitwise Operator

- and &
- or |
- xor ^

In [ ]:
10 & 12   # 1010 & 1100 - 1000

In [ ]:
10 | 12

## Unary Operator

- Subtract (-)

In [ ]:
a=10
b=-(a)
b

## Membership Operator

- in
- not in
- Output - Boolean Value

In [ ]:
list=[1,2,3,4,5,6,7]

In [ ]:
list

In [ ]:
5 in list

In [ ]:
8 in list

In [ ]:
9 not in list

## Identity Operator

In [ ]:
a=10
b=10

In [ ]:
id(a)==id(b)

In [ ]:
a is b

In [ ]:
a=10
b=20

In [ ]:
a is b

## Logical Operator

- and
- or
- not

In [3]:
a=10
b=8
c=11
a>b or b>c
# 10>8 or 8>11

True

# Shift Operator

- Left Shift
- Right Shift

In [6]:
x=10  
x<<1

20

In [7]:
x=10
x>>1

5

In [8]:
x>>2

2

In [9]:
x>>3

1

In [10]:
x<<2

40

## Decision Control

- if
- else
- elif

In [ ]:
# For 2 Conditions
if expression:
    print("Statement")
else:
    print("Statement")

In [ ]:
# For more than 2 conditions
if expression:
    print("Statement")
elif expression:
    print("Statement")
elif expression:
    
else:
    print("Statement")

# Leap Year

# Century Year - 400, 100x 
# 
1000, 1100, 1200, 2000,

In [ ]:
n=int(input("Enter the Year : "))
if ((n%4==0 and n%100!=0) or n%400==0):
    print(n, " is leap year")
else:
    print(n, ' is not leap year')

In [ ]:
# Python Program to convert specified days into years, weeks and days(Non leap year)
Test Case : 500
    Years =1
    Weeks = 19
    Days= 2