# Tuple

### What is a Tuple ?

- A tuple is an immutable sequence datatype of Python

### Creation of a Tuple

In [ ]:
# 1

name_of_tup=()
print(name_of_tup)

In [ ]:
type(name_of_tup)

In [ ]:
# 2

name_of_tup1=tuple()
print(name_of_tup1)

In [ ]:
tuple=(1,2,3)

In [ ]:
tuple

In [ ]:
dir()

In [ ]:
del tuple

In [ ]:
tup=tuple()

In [ ]:
# Even Number

even=(2,4,6,8,10,12,14)
even

In [ ]:
# Example
fruits=('apple','mango','guava','pineapple','pomegranate')
fruits

### Accessing of an element

We can access the value of a tuple with the help of its index value

In [ ]:
fruits=('apple','mango','guava','pineapple','pomegranate')
print(fruits[3])
print(fruits[4])

In [ ]:
## Slicing a python tuple
fruits[0:3]     #start:end:step

### Reassigning a tuple value

In [ ]:
fruits=('apple','mango','guava','pineapple','pomegranate')
print('Before Updation', fruits)
fruits[2]='banana'
print('After Updation',fruits)

### Deleting an element of tuple`

In [ ]:
del fruits[2]

### OPerators used on Tuple

- Concatenation
- Repeatation
- Membership (in/not in)

In [ ]:
# Concatenation
tup1=(1,2,3,'abes','college')
tup2=(4.5,'ceit')
tup3=tup1+tup2
print(tup3)

In [ ]:
## Repeatation
tup4=(1,2)
tup5=tup4*2
print(tup5)

In [ ]:
tup6=(1,2,3,4,5,6,7)
print('2' in tup6)

### Built In Functions

- len()
- max()
- min()
- sum()

### Built in Methods of Tuple

- index()
- count()

In [ ]:
## Index()

tup=(1,2,3,4,3,4,2,5,6,5,6,7,6,7,8,5,5,5,2,3,4)
x=tup.index(5)
print(x)

In [ ]:
## Count()

tup=(1,2,3,4,3,4,2,5,6,5,6,7,6,7,8,5,5,5,2,3,4)
y=tup.count(5)
print(y)

## For Loop with tuple

In [ ]:
## Value

fruits=('apple','mango','guava','pineapple','pomegranate')
for fruit in fruits:
    print(fruit,end=" ")

In [ ]:
## Index

fruits=('apple','mango','guava','pineapple','pomegranate')
for i in range(len(fruits)):
    print(fruits[i],end=" ")

# Python Map

- A python map functions applies a given function to each item of the sequence and returns a list of the result

###### Syntax

- map(function,iterable/sequence)

In [ ]:
## Example 1

def square(n):
    return n*n

numbers=[1,2,3,4,5]
result=map(square,numbers)
print(list(result))

# Sets

### What is a Set ?

- Set is an unordered collection of data items.
- No Duplicate Elements
- Set is mutable but, elements of set are immutable

### Creating a Set

In [ ]:
# 1 Set()

l=[1,2,3,1,2,1,2,3,4,5,6,7,8]
a=set(l)
print(a)

In [ ]:
# 2
set1={1,2,3,4,5,6,7,1,2,3,4,5,1,2,3,1,2,2}
print(set1)

In [ ]:
s='python programming'
s1=set(s)
print(s1)

In [ ]:
### Creating an Empty Set
a=set()
print(a)

In [ ]:
type(a)

## Accessing an element of a Set

- Sets are mutable, But since they are unordered , indexing have no meaning.
- We cannot access or change an element from the set using indexing or Slicing

In [ ]:
set1[1]

### Adding an element to the set

In [ ]:
set1=set()
print(set1)

# Add Method

#set1.add(12)
#set1.add(34)
#print(set1)

# Adding a group of elements

set1.update([1,2,3,5,6,7,8,9,10])
print(set1)

### Removing an element from the set

- A particular item can be removed from set using methods using - remove() and discard()
- The only difference between the two, while using discard(), if the element is not present, it will remain unchanged.
- Remove, will give an error.

In [ ]:
# Initialize
my_set={1,2,3,4,5}
print(my_set)

# Discard
my_set.discard(5)
print('After Discard ', my_set)

# Remove
my_set.remove(4)
print('After remove', my_set)

### Python Set Operations

In [ ]:
# 1. Union

A={1,2,3,4,5}
B={4,5,6,7,8}

# Using | operator
print(A | B)

# Using Union Method
print(A.union(B))

In [ ]:
print(A)
print(B)

In [ ]:
# 2. Intersection 

A={1,2,3,4,5}
B={4,5,6,7,8}

# Using & operator
print(A & B)

# Using Intersection Method
print(A.intersection(B))

In [ ]:
# 3. Difference 

A={1,2,3,4,5}
B={4,5,6,7,8}

# Using - operator
print(A - B)

# Using difference Method
print(A.difference(B))

In [ ]:
# 3. Difference update

A={1,2,3,4,5}
B={4,5,6,7,8}

# Using -= operator
#print(A=A-B) 

# Using difference Method
print(A.difference_update(B))
print(A)
print(B)

In [ ]:
print(A)

In [ ]:
## 4. Symmetric Difference

A={1,2,3,4,5}
B={4,5,6,7,8}

# Using  ^ operator
print(A ^ B)

# Using symmetric difference Method
print(A.symmetric_difference(B))

In [ ]:

A={1,2,3,4,5}
B={4,5}
print(B.issubset(A))

### Function on Set

- len()
- max()
- min()
- sum()
- sorted()

In [ ]:
set1={'mon','tue','wed','thurs','fri'}
len(set1)

In [ ]:
set2={1,2,3,4,5,6,7,8}
print(max(set2))
print(min(set2))
print(sum(set2))
print(sorted(set2))

## Any Method

- This function returns True even if one item in the set has a Boolean Value as True

In [ ]:
set1={0,1,2,3}
all(set1)

In [ ]:
set2={0,0,0,1}
any(set2)

### Iteration on a Set

In [ ]:
my_set={14,24,34,44,54,65,74}
for i in my_set:
    print(i,end=" ")

### Assignment

### ### 1. Given an integer, n, and n space-separated integers as input, create a tuple, t, of those n integers. Then compute and print the result of hash(t).

### ### 2. Everyone have some habits to collect one thing or the other. Harshit also has the craze to collect pens but in 3 piles. In first pile, he collected A pens and in the second pile, he collected B pens but in the third and the last pile , he think of something different. He decided to collect only the minimum number of pens in third pile so that the sum of pens in the three piles will give him a prime number. Note: there should be atleast one pen in the third pile.

In [ ]:
s=set([1, 2, 3])
print(s.union([4, 5]))
print(s|([4, 5]))